body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  display:none;
}

.dot {
  /* stroke: #000; */
  fill: rgb(14, 14, 155);
  fill-opacity: 0.5;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* search box */
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #3B5998;
  box-shadow: 0 1px 0 0 #3B5998;
}

.bar {
  display: block;
  overflow: hidden;
  height: 2px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px ;
  box-shadow: 1px 1px 1px #888888;
  background-color: rgb(206, 22, 22);
  text-anchor: end ;
}

/* Toggle color for bias Results Div */
.biasResDiv { background-color: white; }   /* default color white */
.biasResDiv.selected { background-color: darkgray; }


/* loading icon */

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}