body {
    background-color: #f2f2f2;
}

.navbar {
    width: 95%;
    margin: auto;
    background-color: white;
    border: 0px;
    background-color: darkseagreen;
}

.navbar-brand {
    max-width: 15%;
}

.container-fluid {
    margin: auto;
}

.container {
    width: 95%;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}

/* Toolbar */
.ql-toolbar.ql-snow {
    padding-left: 5.2%;
    padding-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: darkseagreen;
}

#editor {
    border: 0px;
    height: 70%;
}

#title {
    font-size: xx-large;
    font-family: sans-serif;
}

#logo_image {
    padding-top: 5px;
}

/* mouse over link */
a:hover + div {
    display: block;
  }